* {
    box-sizing: border-box;
    background-color: #eef9bf;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header strong{
    
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #75B79E;
    position: absolute;
    width: 540px;
    height: 63px;
    top: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 66px;  
    letter-spacing: -0.004em;
}

main{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 436px;
    margin-left: 122px;
    margin-top: 150px;
    
}
.card{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 44px;
    margin-bottom: 34px;
    
}

.flip{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card__front{
    
    width: 100px;
    height: 100px;
    background: url(../img/front.png);
    background-size: 100px;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    position: absolute;
    
}

.card__back{
    
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
}

/*---------------back de todas cartas---------------*/

.back1{
    background: url(../img/bobrossparrot.gif);

}

.back2{
    background: url(../img/explodyparrot.gif);

}

.back3{
    background: url(../img/fiestaparrot.gif);

}

.back4{
    background: url(../img/metalparrot.gif);

}

.back5{
    background: url(../img/revertitparrot.gif);

}

.back6{
    background: url(../img/tripletsparrot.gif);

}

.back7{
    background: url(../img/unicornparrot.gif);

}

/*--------------------VERSAO MOBILE ------------------------------------------*/

@media (max-width: 565px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    header strong{
        font-size: 36px;
        width: 312px;
        height: 63px;
        text-align: center;
        margin-bottom: 47px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em

    }

}